

<div class = "Form" ng-controller="formCtrl">
    <p class = "input_label">Ваше ФИО:</p>
    <input class = "input_form"
           type="text"
           ng-model="fio"
           placeholder="Иванов Иван Иванович"
    >

    <p class = "input_label">Специализация врача:</p>
    <select class = "sel" ng-model="specDoc" ng-options = "x for x in doctors"></select>

    <p class = "input_label">Причина обращения:</p>
    <input class = "input_form" type="text" ng-model="reason">

    <p class = "input_label">Контактный телефон:</p>
    <input
            class="input_form"
            type="text"
            ng-model="phone"
            ui-mask="+7(999) 999-99-99"
            ui-mask-placeholder=""
            ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
            placeholder="Phone Number"
    />

    <p class = "input_label">Адрес электронной почты:</p>
    <input class = "input_form"
           type="text"
           ng-model="contact_email"
           placeholder="ivanov@email.com"
    >

    <p class = "input_label">Филиал:</p>

    <select class = "sel" ng-model="org" ng-options = "x for x in orgs">

    </select>

    <p class = "input_label">Желаемая дата визита</p>
    <input class = "input_form"
           type="text"
           ng-model="date_visit"
           placeholder="Дата"
           ui-mask="99.99.9999"ui-mask-placeholder=""
           ui-options="{ allowInvalidValue: true, clearOnBlur: false }"
    >

    <input type="button" value="Записаться" ng-click="sendBtn()">
</div>



