<table class = "schedule">
  <tr class = "schedule">
    <td class = "schedule" class = "schedule">Понедельник</td> <td class = "schedule">Вторник</td> <td class = "schedule">Среда</td> <td class = "schedule">Четверг</td> <td class = "schedule">Пятница</td> <td>Суббота</td>
  </tr>
  <tr class = "schedule"><td class = "schedule">09:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">11:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
  <tr class = "schedule"><td class = "schedule">10:00</td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td> <td class = "schedule"></td></tr>
</table>
